@tailwind base;
@tailwind components;

// Code syntax highlighting,
// powered by https://highlightjs.org
@import '~highlight.js/styles/monokai-sublime.css';

@import 'base';
@import 'navigation';
@import 'documentation';
@import 'search';

@tailwind utilities;
